.project-menu {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;

}

ul {
    list-style-type: none;
}

li {
    margin-left: 1%;
    padding-left: 0;
}

.main-menu {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
}

.img-pravda {
    display: flex;
    justify-content: space-between;
    background-color: maroon;
    height: 120px;
}

.ukrpravda-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ukr-pravda-top-text {
    height: 50%;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bolder;
    align-items: center;
}

.img-pravda p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: white;
    margin: 0 auto;
}

.rozdilu {
    width: 20%;
}

.club-pravda {
    width: 20%;
}

.rozdilu {
    display: flex;
    align-items: center;
}

.rozdilu__line {
    display: flex;
}

.rozdilu__text {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.rozdilu__ine__line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 4px;
}

.club-pravda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-pravda-lang {
    margin-right: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.club-pravda-lang span {
    color: #c1bdbd;
}

.club-pravda-club {
    display: flex;
    height: 45%;
    width: 45%;
    background-color: #b82307;
    border-radius: 40%;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
}

.club-pravda-club div {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}


.news-wraper {
   display: flex;
    height: 700px;
    margin-left: 70px ;
    margin-right: 70px ;
}

.news-wraper-left {
    margin: 5px;
    height: 100%;
    width: 25%;
}
.news-wraper-left__top {
    height: 50%;
    width: 100%;
}
.news-wraper-left__botton {
    height: 50%;
    width: 100%;
}
.news-wraper-left__img {
    height: 70%;
    width: 100%;
}
.news-wraper-left__img img {
    height: 100%;
    width: 100%;
}

.news-wraper-left__text {
    height: 20%;
    width: 100%;
}
.news-wraper-left__text p {
    font-size: 20px;
    font-weight: bolder;
}





.news-wraper-center {
  margin: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}
.news-wraper-center__img {
    height: 35%;
    width: 100%;
}
.news-wraper-center__img img {
    height: 100%;
    width: 100%;
}
.news-wraper-center__img-text {
    height:20%;
    width: 100%;
}
.news-wraper-center__img-text p {
    font-size: 20px;
    font-weight: bolder;
}
.news-wraper-center-news {
    border-top: 2px solid #372b2b;
    display: inline-block;
    height: 18%;
    width: 100%;
}

.news-wraper-center-news p{
    font-size: 20px;
    font-weight: bolder
}

.news-wraper-right {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100%;
    width: 50%;}
.news-wraper-right-img {
    height: 75%;
    width: 100%;
}
.news-wraper-right-img img {
    height: 100%;
    width: 100%;
}
.news-wraper-right-text {
    height: 20%;
    width: 100%;
}
.news-wraper-right-text p {
    font-size: 36px;
    font-weight: bolder;
}




