.project-menu {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;

}

ul {
    list-style-type: none;
}

li {
    margin-left: 1%;
    padding-left: 0;
}

.main-menu {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
}

.img-pravda {
    display: flex;
    justify-content: space-between;
    background-color: maroon;
    height: 120px;
}

.ukrpravda-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ukr-pravda-top-text {
    height: 50%;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bolder;
    align-items: center;
}

.img-pravda p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: white;
    margin: 0 auto;
}

.rozdilu {
    width: 20%;
}

.club-pravda {
    width: 20%;
}

.rozdilu {
    display: flex;
    align-items: center;
}

.rozdilu__line {
    display: flex;
}

.rozdilu__text {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.rozdilu__ine__line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 4px;
}

.club-pravda {
    display: flex;
    justify-content:center;
    align-items: center;
}

.club-pravda-lang {
    margin-right: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.club-pravda-lang span {
    color: #c1bdbd;
}

.club-pravda-club {
    display: flex;
    height: 45%;
    width: 45%;
    background-color: #b82307;
    border-radius: 40%;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
}
.club-pravda-club div {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}